<!--
    This file is part of the CERN Dashboards and Monitoring for Vidyo
    Copyright (C) 2014 European Organization for Nuclear Research (CERN)
    CERN Dashboards and Monitoring for Vidyo is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.
    CERN Dashboards and Monitoring for Vidyo is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU Affero General Public License
    along with the CERN Dashboards and Monitoring for Vidyo software.  If not, see <http://www.gnu.org/licenses/>.
-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<meta http-equiv="refresh" content="1800">
<meta charset="utf-8">

<div id="cvs_tabs">
     <ul>
        <li><a href="#cvs_tab0">Vidyo Call Detail Records</a></li>
        <li><a href="#cvs_tab1">Monitoring</a></li>
    </ul>

    <!-- CDR DASHBOARD -->
    <div id="cvs_tab0">
        <div id="vidyo-dashboard"></div>
        <div class="cvs_clear"></div>
    </div>

    <!-- MONITORING -->
    <div id="cvs_tab1">
        <div id="cvs_tab1_subtabs">
            <ul>
                <li><a href="#cvs_tab1_subtab0">Piwik</a></li>
                <li><a href="#cvs_tab1_subtab1">Observium</a></li>
            </ul>

            <!-- MONITORING.PIWIK -->
            <div id="cvs_tab1_subtab0">
                <div id="cvs_tab1_subtab0_subtabs">
                    <ul>
                        <li><a href="#cvs_tab1_subtab0_subtab3">Last Year</a></li>
                        <li><a href="#cvs_tab1_subtab0_subtab2">Yearly</a></li>
                        <li><a href="#cvs_tab1_subtab0_subtab1">Monthly</a></li>
                        <li><a href="#cvs_tab1_subtab0_subtab0">Yesterday</a></li>
                    </ul>

                    <!-- MONITORING.PIWIK.DAY -->
                    <div id="cvs_tab1_subtab0_subtab0">
                        <div id ="cvs_map_day"></div>
                        <h3 style="text-align: center;">Visits</h3>
                        <div class="cvs_wrapper">
                            <div class="cvs_left" style="width:45%;">
                                <div id="cvs_evo_day_chart" class="cvs_chart_bar_small">
                                        <div id="cvs_evo_day_chart_container"></div>
                                </div>
                            </div>
                            <div class="cvs_right" style="width:45%;" id="cvs_overall_day" style="margin-top:-10px"></div>
                           <div class="cvs_clear"></div>
                        </div>

                        <div class="cvs_chart_lastupdate cvs_right">Last update: <span class="last_update_piwki"></span></div>
                        <div class="cvs_clear"></div>
                    </div>

                    <!-- MONITORING.PIWIK.MONTH -->
                    <div id="cvs_tab1_subtab0_subtab1">
                        <div id ="cvs_map_month"></div>
                        <h3 style="text-align: center;">Visits</h3>
                        <div class="cvs_wrapper">
                            <div class="cvs_left" style="width:45%;">
                                <div id="cvs_evo_month_chart" class="cvs_chart_bar_small">
                                        <div id="cvs_evo_month_chart_container"></div>
                                </div>
                            </div>
                            <div class="cvs_right" style="width:45%;" id="cvs_overall_month" style="margin-top:-10px"></div>
                           <div class="cvs_clear"></div>
                        </div>
                        <div class="cvs_clear"></div>
                        <div class="cvs_chart_lastupdate cvs_right">Last update: <span class="last_update_piwki"></span></div>
                        <div class="cvs_clear"></div>
                    </div>

                    <!-- MONITORING.PIWIK.YEAR -->
                    <div id="cvs_tab1_subtab0_subtab2">
                        <div id ="cvs_map_year"></div>
                        <h3 style="text-align: center;">Visits</h3>
                        <div class="cvs_wrapper">
                            <div class="cvs_left" style="width:45%;">
                                <div id="cvs_evo_year_chart" class="cvs_chart_bar_small">
                                        <div id="cvs_evo_year_chart_container"></div>
                                </div>
                            </div>
                            <div class="cvs_right" style="width:45%;" id="cvs_overall_year" style="margin-top:-10px"></div>
                           <div class="cvs_clear"></div>
                        </div>
                        <div class="cvs_clear"></div>
                        <div class="cvs_chart_lastupdate cvs_right">Last update: <span class="last_update_piwki"></span></div>
                        <div class="cvs_clear"></div>
                    </div>

                    <!-- MONITORING.PIWIK.LAST_YEAR -->
                    <div id="cvs_tab1_subtab0_subtab3">
                        <div id ="cvs_map_last_year"></div>
                        <h3 style="text-align: center;">Visits</h3>
                        <div class="cvs_wrapper">
                            <div class="cvs_left" style="width:45%;">
                                <div id="cvs_evo_last_year_chart" class="cvs_chart_bar_small">
                                        <div id="cvs_evo_last_year_chart_container"></div>
                                </div>
                            </div>
                            <div class="cvs_right" style="width:45%;" id="cvs_overall_last_year" style="margin-top:-10px"></div>
                           <div class="cvs_clear"></div>
                        </div>
                        <div class="cvs_clear"></div>
                        <div class="cvs_chart_lastupdate cvs_right">Last update: <span class="last_update_piwki"></span></div>
                        <div class="cvs_clear"></div>
                    </div>
                 </div>
            </div>

            <!-- MONITORING.OBSERVIUM -->
            <div id="cvs_tab1_subtab1">
                <form method="POST" action="https://vidyosnmp.cern.ch" id="observium_form" target="observium_frame" style="display:none;">
                    <input type="hidden" name="username" id="username" />
                    <input type="hidden" name="password" id="password" />
                </form>

                <iframe name="observium_frame" width="100%" height="2000" frameBorder="0" style="margin-top:16px;"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="cvs_clear"></div>
